@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
/* Import typography*/

/* RESET CSS STYLES */

/* Reset default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
form,
fieldset,
input,
textarea,
button,
select,
table,
th,
td {
  margin: 0;
  padding: 0;
}

/* Reset default font styles */
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* Reset list styles */
ul,
ol {
  list-style: none;
}

/* Reset link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset form styles */
fieldset,
label {
  margin: 0;
  padding: 0;
}

/* Reset button styles */
button,
input[type="button"],
input[type="submit"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Reset textarea styles */
textarea {
  resize: none;
}


/* COLOR PALETTE */
/* Primary Palette */
:root {
  /*--default-BG-color: #e3cfed;*/
  --default-BG-color: #fcfcfc;
  --default-titles-color: #112d2a;
  --default-black-color: #111111;
  --default-white-color: #EEEEEE;
}

/* Dark Mode Palette */
.dark-mode {
  --darkMode-BG-color: #1b423e;
  --darkMode-titles-color: #e3cfed;
  --darkMode-box-color: #5c6660;
  --darkMode-highlight-color: #e2866d;
  --darkMode-support-color: #d9b2d7;
  --darkMode-black-color: #111111;
  --darkMode-white-color: #EEEEEE;
}

/* BASIC STYLES */
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--default-black-color);
  background-color: var(--default-BG-color);
  margin: 0;
  padding: 0;
}

.Title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 900;
  margin: 1rem;
  color: var(--default-titles-color);
}

.Subtitle {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  margin: 1rem;
  color: var(--default-titles-color);
}

.Text {
  margin: 0.5rem;
  font-weight: 400;
  color: var(--default-black-color);
}

.Logo{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  padding: 0.5em;
  position: fixed;
}

.Logo:hover{
  color: var(--default-box-color);
  transition: all 0.3s ease-in-out;
}


/* NavTop PC Styles */
.NavTop {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 7%;
  border-radius: 50px;
  border: 2px solid var(--default-titles-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset -1px -3px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--default-white-color);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavTop-box {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.1rem;
  width: 100%;
}

.NavTop-item {
  position: relative;
  border-radius: 30px;
}

.NavTop-item:hover {
  background-color: var(--default-titles-color);
  text-align: center;
  transition: background-color 0.5s ease;
}

.NavTop-link {
  display: block;
  padding: 0.3rem;
  color: var(--default-titles-color);
  transition: all 0.3s ease-in-out;
}

.NavTop-link:hover {
  color: var(--default-white-color);
}

.NavTop.hidden {
  transform: translateY(-200%);
}

.NavTopPC {
  display: block;
}

@media (max-width: 767.98px) {
  .NavTopPC {
    display: none;
  }
}

/* NavTop Mobile Styles */
.NavTop-mobile {
  position: fixed;
  top: 1rem;
  right: 2rem;
}

.NavTop-mobile-btn {
  background-color: transparent;
  color: var(--default-titles-color);
  font-size: 30px;
}

.NavTop-modal{
  display: none;
}

@media (min-width: 768px) {
  .NavTop-modal {
    display: block;
  }
}

.NavTop-modal-link{
  font-size: 20px;
font-weight: 600;
color: var(--default-titles-color);
}

.hidden{
  display: none;
}


/* ------------- INDEX STYLES ----------------*/
/* HERO SECTION - INDEX */
/* Animated BG */
.HeroSection-bg {
  width: 700%;
  height: 100vh;
  background: linear-gradient(36deg, #e3cfed, #e2866d, #e3cfed);
  background-position: 0 0, 0 0;
  background-size: 600% 600%, cover;
  animation: gradient 19s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 88% 0%
  }

  50% {
    background-position: 13% 100%
  }

  100% {
    background-position: 88% 0%
  }
}


/* ---------------------------------------TESTING------------------------------------------------  */
.HeroSection{
  width: 100vw;
}
.HeroSection-text{
  font-size: 64px;
  padding: 3rem;
  padding-top: 10%;
  color: var(--default-titles-color);
  width: 70vw;
}





.Projects{

  margin-top: 10%;
}

.ProjectsGrid{
  margin: 1rem;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: flex-start;
}

.ProjectsGrid-card {
  position: relative;
  height: 400px;
  width:calc(30%-5rem);
  overflow: hidden;
  transition: transform 0.3s ease-out;
  border-radius: 12px;
  
}

.ProjectsGrid-card:hover {
  box-shadow:1px 2px 8px 0px rgba(121, 121, 121, 0.7);
  /* width: 35%; */
  transition: all 1s ease;
}

.ProjectsGrid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ProjectsGrid-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
  transform: translateY(100%);
  padding-bottom: 10%;
}

.ProjectsGrid-card:hover .ProjectsGrid-info {
  transform: translateY(0);
  transition: all 1s ease-in-out;
}

.ProjectsGrid-title {
  margin: 0;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.ProjectsGrid-tags {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.ProjectsGrid-role {
  margin: 10px 0;
  font-size: 18px;
}
.ProjectsGrid-type {
  margin: 10px 0;
  font-size: 18px;
}

.ProjectsGrid-date {
  margin: 0;
  font-size: 14px;
  color: #2a2a2a;
}
