/* Estilos desarrollados por: Romina Font */
/* Tipografias importadas*/
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');


/* RESET CSS STYLES */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
form,
fieldset,
input,
textarea,
button,
select,
table,
th,
td {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
label {
  margin: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="submit"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

textarea {
  resize: none;
}


/* PALETA COLOR */
/* Primary Palette */
:root {
  --default-BG-color: #fcfcfc;
  --default-titles-color: #112d2a;
  --default-black-color: #111111;
  --default-white-color: #EEEEEE;
  --default-highlight-color: #e2866d;
}


/* Estilos basicos */
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--default-black-color);
  background-color: var(--default-BG-color);
  overflow-x: hidden;
}

::selection {
  background-color: var(--default-highlight-color);
}

.Title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 900;
  margin: 3rem;
  color: var(--default-titles-color);
}

.Subtitle {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: var(--default-titles-color);
}

.Text {
  font-weight: 400;
  color: var(--default-black-color);
}

.Link {
  color: var(--default-titles-color);
  font-weight: 900;
}

.Link:hover {
  color: var(--default-highlight-color);
}

.Btn {
  padding: 1rem;
  border-radius: 50px;
  border: 2px solid var(--default-titles-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset -1px -3px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--default-white-color);
  font-size: 18px;
  text-align: center;
  color: var(--default-titles-color);
  cursor: pointer;
}

.Btn:hover {
  background-color: var(--default-titles-color);
  color: var(--default-white-color);
}

.Logo {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  padding: 1rem 3rem;
  position: absolute;
  color: var(--default-titles-color);
}

.Logo:hover {
  color: var(--default-highlight-color);
  transition: all 0.3s ease-in-out;
}





/* NavTop PC Styles */
.Header {
  display: flex;
  position: relative;
  width: 100vw;
  z-index: 999;
}

.NavTop {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 7%;
  border-radius: 50px;
  border: 2px solid var(--default-titles-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset -1px -3px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--default-white-color);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.NavTop-box {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.1rem;
  width: 100%;
}

.NavTop-item {
  position: relative;
  border-radius: 30px;
}

.NavTop-item:hover {
  background-color: var(--default-titles-color);
  text-align: center;
  transition: background-color 0.5s ease;
}

.NavTop-link {
  display: block;
  padding: 0.5rem;
  color: var(--default-titles-color);
  transition: all 0.3s ease-in-out;
}

.NavTop-link:hover {
  color: var(--default-white-color);
}

.NavTop.hidden {
  transform: translateY(-200%);
}

.NavTopPC {
  display: block;
}

.hidden {
  display: none;
}

/* Estilos Footer */
.Footer {
  background-color: var(--default-titles-color);
  padding: 50px auto;
  color: var(--default-white-color);
}

/* Ticker animado */
.Footer-ticker {
  height: 300px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  align-content: center;
}

.Footer-ticker-text {
  display: inline-block;
  padding-left: 100%;
  animation: scrollText 16s linear infinite;
  color: #fff;
  font-size: 200px;
  line-height: 200px;
  font-family: 'Instrument Serif', serif;
  font-style: italic;
}

@keyframes scrollText {
  to {
    transform: translateX(-100%);
  }
}

.Footer-contact {
  display: flex;
  justify-content: space-around;
  margin: 3rem 2rem;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 700;
}

.Footer-contact-link {
  padding: 1rem;
}

.Footer-contact-link:hover {
  color: var(--default-highlight-color);
}

.Copyright {
  padding: 2rem;
  text-align: center;
}

.Gradient-bg {
  height: 100vh;
  background: linear-gradient(36deg, #e3cfed, #e2866d, #e3cfed);
  background-position: 0 0, 0 0;
  background-size: 600% 600%, cover;
  animation: gradient 19s ease infinite;
}



/* ------------- ESTILOS INDEX ----------------*/
/* SECCION HERO - INDEX */
/* BG Animado */
.HeroSection {
  width: 100vw;
}

@keyframes gradient {
  0% {
    background-position: 88% 0%
  }

  50% {
    background-position: 13% 100%
  }

  100% {
    background-position: 88% 0%
  }
}

.HeroSection-text {
  font-size: calc(8px*6);
  padding: 3rem;
  padding-top: 10%;
  color: var(--default-titles-color);
  font-family: 'Instrument Serif', serif;
  font-style: italic;
  width: 70vw;
}


/* SECCION ROLES - INDEX */
.SectionRoles {
  display: flex;
  justify-content: space-around;
}

.SectionRoles-item {
  width: 30%;
  padding: 4rem;
  text-align: center;
  background-position: center;
  background-size: cover;
}

.SectionRoles-item:nth-child(2) {
  background-color: var(--default-titles-color);
  color: var(--default-white-color);
}

/* Cargo el fondo independiente para cada uno de los bloques, hago servir un id porque es un elemento con una característica única */
#SectionRoles-item-01:hover {
  background-image: url('https://images.pexels.com/photos/196644/pexels-photo-196644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  opacity: 1;
  transition: all 0.3s ease;
}

#SectionRoles-item-02:hover {
  background-image: url('https://images.pexels.com/photos/4348403/pexels-photo-4348403.jpeg?auto=compress&cs=tinysrgb&w=600');
  opacity: 1;
  transition: all 0.3s ease;
}

#SectionRoles-item-03:hover {
  background-image: url('https://images.pexels.com/photos/416682/pexels-photo-416682.jpeg?auto=compress&cs=tinysrgb&w=600');
  opacity: 1;
  transition: all 0.3s ease;
}


/* SECCION GALERIA DE MEJORES PROYECTOS - INDEX */
.BestSection-box {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
  padding: 2rem;
}

.BestSection-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.BestSection-card:nth-child(1) {
  grid-column-start: span 2;
}

.BestSection-card:nth-child(4) {
  grid-column-start: span 2;
}

.BestSection-img:hover {
  box-shadow: 0px 0px 5px 0px rgba(92, 102, 96, 0.7);
  transform: scale(1.05);
  transition: all 0.3s ease;
}


/* SECCION CARROUSEL ANIMADO CON BOTONES DE NAVEGACION - INDEX */
.PhotoCarrousel {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin: 100px auto;
}

.PhotoCarrousel-slider {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.PhotoCarrousel-slider-box {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0%, 0.25);
  border-radius: 12px;
  -ms-overflow-style: none;
  /* Eliminar scrollbar */
  scrollbar-width: none;
  /* Eliminar scrollbar */
}

.PhotoCarrousel-slider-box::-webkit-scrollbar {
  display: none;
  /* Eliminar scrollbar */
}

.PhotoCarrousel-slider-img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.PhotoCarrousel-slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.PhotoCarrousel-slider-a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--default-black-color);
  opacity: 0.5;
  transition: all ease 250ms;
}

.PhotoCarrousel-slider-a:hover {
  opacity: 1;
}


.PhotoCarrousel-btn {
  width: 150px;
}


/* SECCION CREENCIAS EN EL DISEÑO - INDEX */
.DesignBasis {
  background-color: var(--default-white-color);
  padding: 2rem;
  display: flex;
  align-items: center;
  margin: 100px auto;
}

.DesignBasis-box {
  display: flex;
  gap: 2rem;
  margin: 0 3rem;
}

.DesignBasis-card {
  width: 30%;
}


/* ----------------- ESTILOS PROYECTOS ----------------*/
.Projects {
  height: 100%;
  padding: 10% 0;
}

.ProjectsBox {
  margin: 1rem;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  align-content: flex-start;
}

.ProjectsBox-card {
  position: relative;
  width: 30%;
  height: 400px;
  overflow: hidden;
  transition: transform 0.3s ease-out;
  border-radius: 12px;

}

.ProjectsBox-card:hover {
  box-shadow: 0px 0px 5px 0px rgba(92, 102, 96, 0.7);
  transform: scale(1.02);
  transition: all 0.8s ease;
}

.ProjectsBox-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ProjectsBox-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
  transform: translateY(100%);
  padding-bottom: 25%;
  /* ESTILOS GLASSMORPHISM (trend que hace que las cajas superpuestas parezcan cristales) */
  background: rgba(227, 207, 237, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.1px);
  -webkit-backdrop-filter: blur(6.1px);
  border: 1px solid rgba(227, 207, 237, 1);
}

.ProjectsBox-card:hover .ProjectsBox-info {
  transform: translateY(0);
  transition: all 0.5s ease-in;
}

.ProjectsBox-title {
  margin: 0;
  font-size: 32px;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
  ;
  text-align: center;
  text-transform: uppercase;
  color: var(--default-white-color);
}

.ProjectsBox-tags {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  color: var(--default-black-color);
}

.ProjectsBox-info-mobile {
  display: none;
}


/* ------------- ESTILOS GALERIA ----------------*/
.Gallery {
  height: 100%;
  padding: 10% 0;
}

/* Eleccion fotos o ilustraciones - GALERIA */
.ListSection-box {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
}

.ListSection-item {
  width: 45%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.ListSection-text {
  font-size: 20px;
}

.ListSection-btn {
  width: 150px;
  position: relative;
  margin: 20px 0;
}

/* Galeria con grid con transicion hover y al click despliega la foto fullscreen - GALERIA */
.Gallery-box {
  /* Grid con 3 columnas */
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 1rem;
  margin: 1rem;
  overflow: hidden;
}

.Gallery-img {
  width: 100%;
  height: 300px;
  background: var(--default-titles-color);
  object-fit: cover;

}

.Gallery-img:hover {
  box-shadow: 0px 0px 5px 0px rgba(92, 102, 96, 0.7);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

/* La imagen al click se abre en fullscreen*/
.Gallery-img.openPhoto {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  /*posiciona la imagen incluso por encima del header y navegación principal*/
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  background: rgba(227, 207, 237, 0.7);
}

.Gallery-img.openPhoto:hover {
  z-index: 1000;
  transform: none;
}


/* ------------- ESTILOS ABOUT ----------------*/
.About {
  height: 100%;
  padding: 10% 0;
}


.AboutGrid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 1rem;
}

.AboutGrid-card {
  padding: 2rem;
  text-align: justify;
  /* ESTILOS GLASSMORPHISM (trend que hace que las cajas superpuestas parezcan cristales) */
  background: rgba(214, 195, 190, 0.56);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  -webkit-backdrop-filter: blur(6.2px);
  border: 1px solid rgba(226, 134, 109, 1);
}

.AboutGrid-card-01 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.AboutGrid-card-contact {
  font-size: 30px;
  color: var(--default-highlight-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.AboutGrid-card-02 {
  background-image: url('../img/RominaFont_profile.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.AboutGrid-interaction {
  background: rgba(214, 195, 190, 0.56);
  border-radius: 12px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  display: flex;
  justify-content: space-between;
  color: var(--default-white-color);
  padding: 1rem;

}

.AboutGrid-interaction-input {
  border: 0px;
  padding: 0.5rem;
  background-color: transparent;
  color: var(--default-white-color);
}

.AboutGrid-interaction-input::placeholder {
  color: var(--default-white-color);
}

.AboutGrid-interaction-btn {
  color: var(--default-white-color);
  font-size: 24px;
}

.AboutGrid-interaction-salute {
  display: none;
  background: rgba(214, 195, 190, 0.5);
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  box-shadow: 3px 3px 9px 2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.2px);
  color: var(--default-BG-color);
  padding: 1rem;
  position: relative;
  animation: salute ease-in 0.7s;
}

@keyframes salute {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(2%);
    opacity: 100%;
  }
}

.AboutGrid-card-list {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0;
}

.AboutGrid-card-year {
  font-size: 12px;
  line-height: 10px;
}

.AboutGrid-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0px 10px 0px;
}

.AboutGrid-tag {
  padding: 0.2rem 0.7rem;
  margin: 0px 10px 10px 0px;
  color: var(--default-white-color);
  background-color: var(--default-titles-color);
  font-weight: 700;
  font-size: 14px;
  border-radius: 50px;
  text-align: center;
}

.AboutGrid-tools {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin: 10px 0px 10px 0px;
}

.AboutGrid-tool {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}

.AboutGrid-card-07 {
  grid-column: span 3;
}

.AboutGrid-form {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: var(--default-white-color);
  gap: 1rem;
}

.AboutGrid-form-input {
  border: 1px solid var(--default-white-color);
  padding: 0.5rem;
  background-color: transparent;
  color: var(--default-white-color);
  border-radius: 12px;
}

.AboutGrid-form-input::placeholder {
  color: var(--default-white-color);
}

.AboutGrid-form-btn {
  width: 40%;
}


/* ------------- ESTILOS VIEW ----------------*/

.ViewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ViewContainer-header {
  width: 100vw;
  height: 300px;
  object-fit: cover;
  background-position: center;
}

.ViewContainer-data {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  gap: 1rem;
}

.ViewContainer-tags {
  width: 40%;
}

.ViewContainer-text {
  width: 50%;
}

.ViewContainer-url {
  margin: 3rem;

}

.ViewContainer-img {
  margin: 3rem;
  width: 70%;
  height: auto;
}













/*---------------------------ESTILOS VERTICALES PARA MOVIL Y TABLET VERTICAL---------------------------- */

/* NavTop Mobile Styles */
.NavTop-mobile {
  position: fixed;
  top: 1rem;
  right: 2rem;
}

.NavTop-mobile-btn {
  background-color: transparent;
  color: var(--default-titles-color);
  font-size: 30px;
}

.NavTop-modal {
  display: none;
}

.NavTop-modal-link {
  font-size: 32px;
  font-weight: 600;
  color: var(--default-titles-color);
}

@media (min-width: 768px) {
  .NavTop-modal {
    display: block;
  }
}

@media(max-width:767px) {

  .Logo {
    font-size: 30px;
    padding: 1rem;
  }

  .Header {
    width: 100vw;
    justify-content: space-between;
  }

  .NavTop {
    display: none;
  }

  .HeroSection-text {
    font-size: calc(8px*4);
    padding-top: 30%;
  }

  .SectionRoles {
    flex-wrap: wrap;
  }

  .SectionRoles-item {
    width: 100vw;
  }

  .ListSection-item {
    width: 100VW;
  }

  .PhotoCarrousel-slider {
    width: 80vw;
  }

  .BestSection-box {
    padding: 30px;
    grid-template-columns: repeat(1, 1fr);
  }

  .BestSection-card:nth-child(1) {
    grid-column-start: span 1;
  }

  .BestSection-card:nth-child(4) {
    grid-column-start: span 1;
  }

  .DesignBasis {
    flex-direction: column;
  }

  .DesignBasis-box {
    flex-wrap: wrap;

  }

  .DesignBasis-card {
    width: 100%;

  }

  .ProjectsBox-card {
    width: 90%;
    position: relative;
  }

  .ProjectsBox-info {
    display: none;
  }

  .ProjectsBox-info-mobile {
    display: block;
    text-align: center;
  }


  .Gallery-box {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .AboutGrid-box {

    margin-top: 10%;
    grid-template-columns: 1fr;
  }

  .AboutGrid-card {
    padding: 1.5rem;
  }


  .AboutGrid-card-contact {
    font-size: 24px;
  }

  .AboutGrid-interaction-input,
  .AboutGrid-form-input {
    font-size: 18px;
  }

  .AboutGrid-interaction-btn,
  .AboutGrid-form-btn {
    font-size: 20px;
  }

  .AboutGrid-card-07 {
    grid-column: span 1;
  }

  .AboutGrid-card-02 {
    height: 400px;
  }

  .ViewContainer-tags {
    width: 100%;
  }

  .ViewContainer-text {
    width: 100%;
  }


}